# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **Point1**(Bold)
* *Point2*(Italic)
* ***Point3***(Bold & italic)

* Normal Text
 * Sublist 1
 * Sublist 2
 
>1.Point 1
>2.Point 2

- []option 1
- []option 2
- []option 3

* Google Site -- [1]: http://www.google.com
* msn site -- [2]: http://www.msn.com

* Google site -- [Google][1]
[1]: http://www.google.com

### Python Basics
 * Python version 3.7
 * Functional Programming
 * OPP
 * Scripting Program

In [2]:
print("Hello, Gitam")

Hello, Gitam

In [3]:
print("Hello,Gitam")
print("Hyderabad")

Hello,Gitam
Hyderabad

In [6]:
print("Hello,Gitam","sup",end=" ")
print("Hyd",end="")
print("erabad")

Hello,Gitam sup Hyderabad

## Assignment

In [11]:
n1=100 #single variable ass
a=b=c=20 #multi variable ass same value
a1,b1,c1=10,20,30 #multi variable ass diff value
print(n1,end=" ")
print(a,b,c,end=" ")
print(a1,b1,c1)

100 20 20 20 10 20 30

### Data types and Conversions

* int
* float
* string

In [13]:
a=37
print(a)
print(type(a))

37
<class 'int'>

In [15]:
a="Python"
print(type(a))

<class 'str'>

In [1]:
a=3.14
print(type(a))
b=int(a)
print(type(b))

<class 'float'>
<class 'int'>

### Reading a value -- Input Funcyion

* input("Message") -- string

In [2]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your nameVikas Motwani
Vikas Motwani
<class 'str'>

In [3]:
# want a number as input
n1=int(input("Enter a number"))
print(n1,type(n1))

Enter a number37
37 <class 'int'>

## Operators

* Operator is a symbol used to perfprm specific kind of operation

### Arithmetic Operators
- +
- -
- *
- /
- %
- **
- //

In [5]:
n1=2007
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) #returns coff in float
print(n1%10) # returns remainder
print(n1//10) # returns coff in int
print(n1**10) #returns power of number

2017
1997
20070
200.7
7
200
1060409780885367740279751534615249

### Precedence of the Arth operators

- Paranthesis
- Power
- Multiplication
- Addition

#### Left to Right

In [10]:
x= 1+2**3/4+5
print(int(x))

8

### Relational Operators

- ==
- !=
- Greater(>)
- Lesser(<)
- Lesser or equal(<=)
- Greater or equal(>=)

##### True OR False


### Logical operators (to combine more than one condition)

* and (both true)
* or (atleast one)
* not (only one)

In [1]:
i=10
a=(i>15)
print(a)

False

### Control Flow Statements
- Conditional
- Looping

#### if-else statements

* **Syntax**

* if Boolean condition:
* Statements
* else:
* Statements

In [2]:
#To check even or odd
n= int(input("Enter a no"))
if n%2==0:
    print("Even")
else:
    print("odd")

Enter a no5
odd